<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="AudioViewEntities" connectionString="metadata=res://*/DataAccess.DatabaseModel.csdl|res://*/DataAccess.DatabaseModel.ssdl|res://*/DataAccess.DatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BATGIRL\SQLEXPRESS;initial catalog=AudioView;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="AudioViewEntities" connectionString="Server=tcp:audioview.database.windows.net,1433;Database=AudioView;User ID=AudioView@audioview;Password=QLW%L:8q4n2]RSz;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>